*{
    transition: all .4s;

}

img {
    width: 200px;
}

li    {
    font-size: 16px;
    line-height: 1.5rem;
    color: #545454;
    /* text-transform: capitalize; */
}


label {
    line-height: 50px;
    font-family: sans-serif;
}
.steps {
    display: flex;
}


#table {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
ol {
    width:33%;
    position:relative;
    list-style: none; 
    counter-reset: li;
    margin: 0;
    padding: 0;
}
li::before {
    content: counter(li); color: white;
    display: inline-block; width: 1em;
    margin-left: -.5em;
    background:#93b874;
    padding-left: .5em;
    margin: .2em;
}
  
    li {counter-increment: li}

p{
    
}

button {
    animation: enter 2s forwards;
    position: fixed;
    left: 50%;
    top: 50%;
    font-size:3rem;
    padding:1rem;
    background: #eeeeee;
    color:black;
    transition: all.2s;
}
button:hover{

    color:white;
    background:#333;
}
@keyframes enter {
    from {
        transform: rotateX(3000deg) translate(-50%, -50%) scale(0);
    }
    to {
        transform: rotateX(0deg) translate(-50%, -50%) scale(1);
    }
}