* {
  transition: all 0.4s;
}

body {
  padding: 20px;
}

img {
  width: 200px;
}

li {
  font-size: 16px;
  line-height: 1.5rem;
  color: #545454;
  /* text-transform: capitalize; */
}

label {
  line-height: 50px;
  font-family: sans-serif;
}

#steps,
#images {
  display: flex;
}

#images {
  height: 200px;
}

#images img {
  width: 200px;
  height: auto;
}

#images div {
  width: 25%;
}

ol {
  width: 25%;
  position: relative;
  list-style: none;
  counter-reset: li;
  margin: 0;
  padding: 0;
}

li::before {
  content: counter(li);
  color: white;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
  background: #93b874;
  padding-left: 0.5em;
  margin: 0.2em;
}

li {
  counter-increment: li;
}

button {
  animation: enter 2s forwards;
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  padding: 1rem;
  background: #eeeeee;
  color: black;
  transition: all.2s;
}

button:hover {
  color: white;
  background: #333;
}

@keyframes enter {
  from {
    transform: rotateX(3000deg) translate(-50%, -50%) scale(0);
  }
  to {
    transform: rotateX(0deg) translate(-50%, -50%) scale(1);
  }
}
